// Chat.module.scss
.chatContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DEE7FF; /* 카카오톡 배경색 */
  background-image: url('../../../public/assets/situation/situationImg.png');
  background-size: cover; /* 이미지가 요소를 덮도록 설정 */
  background-position: center; /* 이미지가 중앙에 위치하도록 설정 */
  background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
  border-radius: 10px;
}

.chatWrapper {
  width: 90%;
  height: 90%; /* 최대 높이 설정 */
  display: flex;
  flex-direction: column;
  background-color: white; /* 채팅창 배경색 */
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 */
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤 표시 */
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: linear-gradient(to bottom, #FFC74D, #F67B36);
  color: #752626;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.chatHeader h1 {
  font-size: 20px;
  margin: 0;
}

.stopButton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.stopButton:hover {
  color: #f44336; /* hover 시 빨간색 */
}

.chatBody {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 15px;
  padding: 10px;
  max-width: 80%;
  position: relative;
  border-radius: 15px;
  background-color: #f0f0f0; /* 메시지 배경색 */
}

.message strong {
  color: #007bff; /* 사용자와 컴퓨터 이름 색상 변경 */
}

.userMessage {
  align-self: flex-end; /* 사용자 메시지를 오른쪽에 */
}

.computerMessage {
  align-self: flex-start; /* 컴퓨터 메시지를 왼쪽에 */
}

.userInput {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: #f0f0f0; /* 입력창 배경색 */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.userMessageInput {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 15px;
}

.sendButton {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #0056b3;
}

#loading {
  margin-top: 20px;
  text-align: center;
  color: #007bff;
}

.loading {
  position: fixed; /* 화면에 고정 */
  top: 50%; /* 화면 세로 중앙 */
  left: 50%; /* 화면 가로 중앙 */
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  background-color: rgba(0, 0, 0, 0.6); /* 반투명 배경 */
  color: white; /* 텍스트 색상 */
  padding: 20px; /* 패딩 */
  border-radius: 10px; /* 모서리 둥글게 */
  font-size: 1.5em; /* 폰트 크기 */
  z-index: 1000; /* 다른 요소 위에 표시 */
  text-align: center; /* 텍스트 중앙 정렬 */
}