.totalResultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    // 기본 위치 세팅
    width: 100%;
    height: 100%;
    border-radius: 10px;

    background-image: url('../../../public/assets/result/allScriptBg.png');
    background-size: cover; /* 이미지가 요소를 덮도록 설정 */
    background-position: center; /* 이미지가 중앙에 위치하도록 설정 */
    background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
  }

  .totalResultHead {
    background-color: rgba(255, 255, 255, 0.8); 
    width: 90%;
    height: 10%;
    text-align: center;
    margin: auto auto 0 auto;
    border-radius: 15px 15px 0px 0px;

    display: flex;
    text-align: center;
    justify-content: space-between;

    align-items: center; /* 세로 중앙 정렬 */
    // padding: 0 20px; /* 좌우 여백 추가 */

    div {
      font-size: 20px;
      background-color: pink;
      margin-left: 20px;
    }
    button {
      margin-right: 20px;
      font-size: 20px;
    }
  }

  .totalResultBody {
    background-color: rgba(255, 255, 255, 0.8); 
    width: 90%;
    height: 70%;
    text-align: center;
    margin: 0 auto auto auto;
    border-radius: 0px 0px 15px 15px;
  }

 

  .historyItem {
    display: flex;
    // background-color: rgba(255, 255, 255, 0.8);
    margin: 10px 30px 10px 30px;
    border-bottom: #B5D2FF 3px solid;
    padding: 20px; /* 패딩 추가 */
    // border-radius: 5px; /* 모서리 둥글게 */
}

.historyItem p {
    flex: 1; /* 각 자식 요소가 동일한 너비를 가짐 */
    margin: 0; /* 기본 마진 제거 */
    text-align: center; /* 텍스트 중앙 정렬 */
    font-weight: bold;
}