.totalResultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    // 기본 위치 세팅
    width: 100%;
    height: 100%;
    border-radius: 10px;

    background-image: url('../../../public/assets/result/resultImg.png');
    background-size: cover; /* 이미지가 요소를 덮도록 설정 */
    background-position: center; /* 이미지가 중앙에 위치하도록 설정 */
    background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
  }

  .whiteBox {
    background-color: white;
    width: 90%;
    height: 80%;
    text-align: center;
    margin: auto;
    border-radius: 15px;
  }