.homeContainerWrap {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-image: url('../../../public/assets/home/newHomeImg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    position: fixed;
    top: 20px;
    z-index: 1000;

    h1 {
        color: white;
        margin: 0;
    }

    .exitButton {
        color: white;
        background: none;
        border: 2px solid white;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 15px;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            transform: scale(1.05);
        }

        &:active {
            background-color: rgba(255, 255, 255, 0.3);
            transform: scale(0.95);
        }
    }
}

.contentWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80%;
    padding: 20px;
    gap: 10px;
}

.leftColumn, .rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.rightColumn {
    justify-content: space-around;
    gap: 10px;
}

.menuButton, .startBtn {
    border: 1px solid #000000;
    font-family: 'LaundryGothicBold', sans-serif;
    background: linear-gradient(to top, #F59346, #FFCC30); /* 위쪽으로 그라데이션 방향 변경 */
    font-size: 15px;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7), inset 0 -2px 0 rgba(0, 0, 0, 0.2); /* 외부 및 내부 그림자 추가 */
    width: 100%;
    position: relative;

}

.startBtn {
    border-radius: 30px;
    height: 320px;
    background: linear-gradient(
        to bottom right,
        #FFCC30 0%,
        #F59346 100%
    );
}

.menuButton {
    height: 155px;
    border-radius: 25px;
    background: linear-gradient(
        to bottom right,
        #91B134 0%,
        #468A49 100%
    );
}

.svgText {
    width: 100%;
    height: 100%;
}

.startTextOutline {
    fill: none;
    stroke: #C65300; /* startBtn의 테두리 색상 */
    stroke-width: 6px;
}

.menuTextOutline {
    fill: none;
    stroke: #0E2B00; /* menuButton의 테두리 색상 */
    stroke-width: 6px;
}

.textMain {
    fill: white;
    font-family: 'LaundryGothicBold', sans-serif;
}