.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 10px;
}

.alert {
    background-image: url('../../../public/assets/alert/alertBgImg.png');
    background-size: 100% 100%; /* 이미지가 요소를 덮도록 설정 */
    background-position: center; /* 이미지가 중앙에 위치하도록 설정 */
    background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 390px;
    height: 220px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.alert p {
    // 임시 배치임 나중에 수정해야함
    margin: 127px 0 20px;
    // 스타일
    color: #3C5BAC;
    font-weight: bold;
    font-size: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;

    button {
        font-family: 'LaundryGothicBold', sans-serif;
        width: 154px;
        height: 36px;
        border-radius: 15px;
        font-weight: bold;
        font-size: 15px;
    }
}

.confirmButton {
    background: linear-gradient(to bottom, #EFE9DA, #E2DFD4); /* 호버시 배경색 밝은 주황색 */
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.confirmButton:hover {
    background: #d2cbb6;
}

.cancelButton {
    background: linear-gradient(to bottom, #FF6D6D, #FF5252); /* 호버시 배경색 밝은 주황색 */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.cancelButton:hover {
    background: #c23f3f;
}
