// .situationWrap {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     background-image: url('../../../public/assets/situation/situationImg.png');
//     background-size: cover; /* 이미지가 요소를 덮도록 설정 */
//     background-position: center; /* 이미지가 중앙에 위치하도록 설정 */
//     background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
//     border-radius: 10px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
//     padding: 20px;
//     box-sizing: border-box;
// }

.situationWrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('../../../public/assets/situation/situationImg.png');
    background-size: cover; /* 이미지가 요소를 덮도록 설정 */
    background-position: center; /* 이미지가 중앙에 위치하도록 설정 */
    background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;

    /* 커스텀 스크롤바 */
    &::-webkit-scrollbar {
        width: 12px; /* 스크롤바 너비 */
    }

    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.2); /* 트랙 배경색 */
        border-radius: 10px; /* 둥근 모서리 */
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.5); /* 스크롤바 색상 */
        border-radius: 10px; /* 둥근 모서리 */
        border: 3px solid transparent; /* 스크롤바의 경계 영역 */
        background-clip: padding-box; /* 패딩 영역 클립 */
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.7); /* 호버시 스크롤바 색상 */
    }

    &::-webkit-scrollbar-corner {
        background: transparent; /* 코너 배경색 */
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #FF8B66; /* 하단 테두리 */
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.exitButton {
    background-color: #FF6347; /* 진한 주황색 */
    color: #FFFFFF; /* 흰색 폰트 */
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #FF4500; /* 더 진한 주황색으로 호버 */
    }
}

.content {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 20px;
    height: calc(100% - 30px); /* 헤더를 제외한 높이 */
    overflow: hidden; /* 자식 요소가 튀어나오는 것을 숨김 */
}

.leftPanel {
    width: 300px; /* 고정된 너비 */
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5); /* 연한 흰색 배경 */
    border-radius: 10px;
    margin-right: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 100%; /* 부모의 높이에 맞춤 */
    box-sizing: border-box;
    overflow-y: auto;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

.gameTypeBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.gameTypeButton {
    background: linear-gradient(to bottom, #FFCC30, #F59346); /* 그라데이션 배경 */
    color: #752626; /* 폰트 색상 - 흰색 */
    font-weight: bold; /* 폰트 두껍게 */
    border: none; /* 테두리 없음 */
    padding: 12px 20px; /* 패딩 설정 */
    margin: 10px 0; /* 위아래 마진 설정 */
    font-size: 16px; /* 폰트 크기 */
    cursor: pointer; /* 커서 포인터로 변경 */
    outline: none; /* 포커스시 테두리 제거 */
    border-radius: 20px; /* 둥근 모서리 */
    width: 100%; /* 버튼 너비 100% */
    text-align: left; /* 텍스트 왼쪽 정렬 */

    /* 그림자 효과 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    /* 호버 효과 */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.gameTypeButton:hover {
    background: linear-gradient(to bottom, #FFDA79, #FF974B); /* 호버시 배경색 밝은 주황색 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 호버시 더 강한 그림자 */
}

.gameTypeButton {
    /* 기존 스타일 유지 */

    &:hover {
        /* 호버 효과 */
        background: linear-gradient(to bottom, #FFDA79, #FF974B);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    &.selected {
        /* 선택된 상태의 스타일 */
        background: linear-gradient(to bottom, #FF6D6D, #FF5252);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        transform: scale(1.05); /* 선택된 상태에서 약간 확대 */
        color: white;
    }
}

.gameTypeButton:active {
    background: linear-gradient(to bottom, #FFC74D, #F67B36); /* 클릭시 배경색 원래 주황색 */
    transform: translateY(2px); /* 클릭시 약간 아래로 이동 효과 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 클릭시 더 약한 그림자 */
}



.nextButton {
    background: linear-gradient(to bottom, #91B134, #468A49); /* 그라데이션 배경 */
    color: white; /* 폰트 색상 - 흰색 */
    border: none; /* 테두리 없음 */
    padding: 10px 20px; /* 패딩 설정 */
    border-radius: 20px; /* 둥근 모서리 */
    font-weight: bold; /* 폰트 두껍게 */
    font-size: 18px; /* 폰트 크기 */
    margin-top: 20px; /* 위아래 마진 설정 */
    cursor: pointer; /* 커서 포인터로 변경 */
    align-self: center;
    outline: none; /* 포커스시 테두리 제거 */

    /* 그림자 효과 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    /* 호버 효과 */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}



.rightPanel {
    flex: 1;
    background-color: #FCF5DF; /* 흰색 배경 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 세로 방향 정렬을 위해 flex-start로 설정 */
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;

}

.rightPanel h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333; /* 어두운 회색 */
}

.rightPanel p {
    font-size: 18px;
    color: #666666; /* 회색 */
    margin-bottom: 10px;
}

.rightPanel .selectionSection {
    width: 100%;
    margin-bottom: 20px;
}

.rightPanel select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #CCCCCC; /* 연한 회색 테두리 */
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.rightPanel select:focus {
    border-color: #FF8B66; /* 주황색 테두리 포커스시 */
}

.rightPanel .startButton {
    background-color: #FF8B66; /* 진한 주황색 */
    color: #FFFFFF; /* 흰색 폰트 */
    border: none;
    padding: 14px 28px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.rightPanel .startButton:hover {
    background-color: #FF6347; /* 진한 주황색으로 호버 */
}



.rightPanelHeader {
    text-align: center; /* 제목과 선택된 놀이 텍스트를 가운데 정렬 */
    margin-bottom: 20px;
}

.rightPanelHeader h3 {
    font-size: 24px;
    color: #333333; /* 어두운 회색 */
}

.rightPanelHeader p {
    font-size: 18px;
    color: #666666; /* 회색 */
}

.leftPanel, .rightPanel {
    overflow-y: auto; /* 세로 스크롤바 활성화 */
    padding-right: 20px; /* 스크롤바와 컨텐츠 사이의 여백 */

    /* 커스텀 스크롤바 */
    &::-webkit-scrollbar {
        width: 20px; /* 스크롤바 너비 */
    }

    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.8); /* 트랙 배경색 */
        border-radius: 10px; /* 둥근 모서리 */
    }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, #91B134, #468A49); /* 그라데이션 스크롤바 색상 */
        border-radius: 15px; /* 둥근 모서리 */
        border: 5px solid transparent; /* 스크롤바의 경계 영역 */
        background-clip: padding-box; /* 패딩 영역 클립 */
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.7); /* 호버시 스크롤바 색상 */
    }

    // &::-webkit-scrollbar-thumb:hover {
    //     background: linear-gradient(to bottom, #6DA329, #356B2C); /* 호버시 그라데이션 스크롤바 색상 */
    // }

    &::-webkit-scrollbar-corner {
        background: transparent; /* 코너 배경색 */
    }
}