body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Jua', 'Lora', sans-serif;
}

@font-face {
  font-family: 'LaundryGothicBold';
  src: url('../src/assets/fonts/LaundryGothic_TTF/webfont/런드리고딕 Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LaundryGothicRegular';
  src: url('../src/assets/fonts/LaundryGothic_TTF/webfont/런드리고딕 Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}